{
  "creator": "Yosys (mock fixture)",
  "modules": {
    "nebula_top": {
      "attributes": { "top": "00000000000000000000000000000001" },
      "cells": {
        "_add_1_": {
          "type": "ADD_X1",
          "attributes": { "src": "dsp_core.v:41.5-41.42" },
          "connections": {}
        },
        "_add_2_": {
          "type": "ADD_X1",
          "attributes": { "src": "dsp_core.v:42.5-42.42" },
          "connections": {}
        },
        "_add_3_": {
          "type": "ADD_X1",
          "attributes": { "src": "dsp_core.v:43.5-43.42" },
          "connections": {}
        },
        "_add_4_": {
          "type": "ADD_X1",
          "attributes": { "src": "dsp_core.v:44.5-44.42" },
          "connections": {}
        },
        "_add_5_": {
          "type": "ADD_X1",
          "attributes": { "src": "dsp_core.v:45.5-45.42" },
          "connections": {}
        },
        "_add_6_": {
          "type": "ADD_X1",
          "attributes": { "src": "dsp_core.v:46.5-46.42" },
          "connections": {}
        },
        "_add_7_": {
          "type": "ADD_X1",
          "attributes": { "src": "dsp_core.v:47.5-47.42" },
          "connections": {}
        },
        "_mux_scaled_": {
          "type": "MUX2_X1",
          "attributes": { "src": "dsp_core.v:56.9-71.20" },
          "connections": {}
        }
      },
      "netnames": {
        "s7": {
          "bits": [ 2, 3, 4, 5 ],
          "attributes": { "src": "dsp_core.v:47.20-47.55" }
        }
      }
    }
  }
}
